---
- name: Wait for SSH to be available
  hosts: all
  gather_facts: no
  tasks:
    - name: Wait for SSH to be available
      ansible.builtin.wait_for:
        port: 22
        host: "{{ ansible_host }}"
        search_regex: OpenSSH
        delay: 10
        timeout: 300
      delegate_to: localhost

- name: Configure DevStack on all hosts
  hosts: all
  gather_facts: yes
  tasks:
    - name: Debug SSH settings
      ansible.builtin.debug:
        msg: "SSH settings: user={{ ansible_user }}, key={{ ansible_ssh_private_key_file }}, args={{ ansible_ssh_common_args }}"
    - name: Test SSH connectivity
      ansible.builtin.command:
        cmd: "true"
      changed_when: false
  roles:
    - devstack

- name: Run stack.sh on controllers
  hosts: controllers
  tasks:
    - name: Run stack.sh on controllers
      ansible.builtin.command:
        cmd: /opt/stack/devstack/stack.sh
        chdir: /opt/stack/devstack
      become: yes
      become_user: stack
      changed_when: false

- name: Run stack.sh on computes
  hosts: computes
  tasks:
    - name: Run stack.sh on computes
      ansible.builtin.command:
        cmd: /opt/stack/devstack/stack.sh
        chdir: /opt/stack/devstack
      become: yes
      become_user: stack
      changed_when: false

- name: Run stack.sh on storage
  hosts: storage
  tasks:
    - name: Run stack.sh on storage
      ansible.builtin.command:
        cmd: /opt/stack/devstack/stack.sh
        chdir: /opt/stack/devstack
      become: yes
      become_user: stack
      changed_when: false