[[local|localrc]]
HOST_IP={{ ansible_host }}
ADMIN_PASSWORD={{ openstack_secret }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

# Logs config
LOGFILE=/opt/stack/logs/stack.sh.log
SCREEN_LOGDIR=/opt/stack/logs/screen
ENABLE_DEBUG_LOG_LEVEL=True
VERBOSE=True

# Enable controller services
ENABLED_SERVICES=key,mysql,rabbit,placement-api,glance-api,nova-api,neutron,cinder,horizon

# Cinder workers
ENABLED_SERVICES+=,c-api,c-vol,c-sch

# Neutron OVN configuration
ML2_GENEVE_MAX_HEADER_SIZE=38
Q_ML2_PLUGIN_MECHANISM_DRIVERS=ovn,logger
ENABLED_SERVICES+=,ovn-northd,ovn-controller,ovn-meta
NEUTRON_CREATE_INITIAL_NETWORKS=True

# Point to compute and storage nodes
COMPUTE_HOSTS={{ groups['computes'] | map('extract', hostvars, 'ansible_host') | join(',') }}
CINDER_HOSTS={{ groups['storage'] | map('extract', hostvars, 'ansible_host') | join(',') }}