[[local|localrc]]
HOST_IP={{ ansible_host }}
SERVICE_HOST={{ groups['controllers'][0] }}
ADMIN_PASSWORD={{ openstack_secret }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
ENABLED_SERVICES=c-vol