---
- name: Apply config to first node
  ansible.builtin.command:
    cmd: talosctl apply-config --insecure --nodes {{ control_plane }} --file {{ talos_dir }}/controlplane.yaml
  changed_when: true

- name: Show the talosctl apply others
  ansible.builtin.debug:
    msg: >
      talosctl apply-config --insecure --nodes {{ others_master | join(",") }} --file {{ talos_dir }}/controlplane.yaml

- name: Apply config to rest of controlplane if there are
  ansible.builtin.command:
    cmd: talosctl apply-config --insecure --nodes {{ others_master | join(",") }} --file {{ talos_dir }}/controlplane.yaml
  changed_when: true
  when: others_master | length > 0