---
- name: Check that the config dir doesn't already exist
  ansible.builtin.stat:
    path: "{{ talos_dir }}"
  register: stat_result

- name: Create config dir if it does not exist
  ansible.builtin.file:
    path: "{{ talos_dir }}"
    state: directory
    mode: '0755'
  when: not stat_result.stat.exists

- name: Show the talosctl gen config command
  ansible.builtin.debug:
    msg: >
      talosctl gen config {{ cluster_name }} https://{{ control_plane }}:6443
      --kubernetes-version {{ k8s_version }}
      --output-dir {{ talos_dir }}
    
- name: Generate config for cluster
  when: force_gen_config | default(false) or not stat_result.stat.exists  
  ansible.builtin.command: >
    talosctl gen config {{ cluster_name }} https://{{ control_plane }}:6443
    --kubernetes-version {{ k8s_version }}
    --output-dir {{ talos_dir }}
  changed_when: true

# - name: Patch talosconfig with init master endpoint
#   command: >
#       {{ talosctl }} config endpoint {{ control_plane }}
#       --talosconfig {{ talosconfig }}
#   register: patch_config
#   changed_when: "'set current context endpoint' in patch_config.stdout"